@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');

*{
    font-family: "Matemasie", sans-serif;
    font-weight: 100;
    font-style: normal;
}

body{
    background-color: #12012a;
    color: beige;
}

h1{
    color: #c20000;
    text-align: center;
}

nav{
    background-color: #a50000;
    padding: 1px;
    text-align: center;
}

ul{
    list-style: none;
}

li{
    display: inline-block;
}

nav a:hover{
    background-color: #ffca39;
    color: #a50000;
    padding: 5px;
}

nav a{
    text-decoration: none;
    color: beige;
    margin: 10px;
}

.karakterek{
    text-align: center;
}

.mainkep{
    width: 70%;
    height: auto;
    border: 5px solid #740505;
}

.mainkep:hover{
    opacity: 0.6;
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
}